# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="postgresql://postgres:m18xr5zz35@localhost:5432/bandara_harun_thohir"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://bandaraharunthohir.id"
NEXTAUTH_SECRET="onxyv5F03PWlb2btom7PD5LNrielFjTdvjBwyOE5Gc8"
USERNAME_LOGIN="bxwbawean"
PASSWORD_LOGIN="m18xr5ht35"

# Nodemailer SMTP
MY_APP_EMAIL="hilmanma513@gmail.com"
MY_APP_PASS="gukq qljg efjn ndbn"
MY_EMAIL_RECIEVER="hilmanma.m18x@gmail.com"